doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(type="text/css", rel="stylesheet", href="/style.css")
    title Activist.js FAQ
  body.faq
    header
      h1 Activist.js
    div.main
      section#faq
        h2 <span class='title'>Frequently Asked Questions</span>
        dl#questions
          dt What is Activist.js?
          dd.
            Activist.js is a library which attempts to provide resilience for
            websites without cooperation from visitors, browsers, or the
            network. It does this by caching a script when visitors access your
            server, which will make additional attempts to access content when
            the server cannot be directly reached.
          dt Which browsers does Activist.js support?
          dd.
            Activist.js supports all major browsers, including Chrome, Firefox,
            and Internet Explorer. A full matrix of expected behavior is
            maintained on our <a href='https://github.com/willscott/activist/issues/4'>
            wiki</a>.
          dt Why is this a thing?
          dd.
            The mechanisms that Activist.js uses to cache content were designed
            for accessing websites when the user is offline, and are used by
            some large websites, like Google Docs and Wunderlist. Due to their
            design, these mechanisms have been difficult to retrofit onto sites
            which are not designed for them. Activist.js provides a minimally
            invasive drop-in solution for adding an Application Cache fall-back
            to most websites without additional server-side support.
          dt How does it work Technically?
          dd.
            Activist.js works by instructing the browser to only cache three
            resources for your site: The script with logic for how to handle
            failures, a fallback page the browser loads when a failure occurs,
            and a blank page which invokes the caching process that is included
            on pages your users visit. One of the hard parts of integrating the
            HTML5 Application Cache mechanism is that the page which includes
            the manifest tag to configure the cache is implicitly cached itself,
            this means that an extra page is required, or your real content will
            be cached and visitors may unexpectedly see out of date content.
          dt What about first-time visitors?
          dd.
            In the long term, we believe that this issue can be mitigated
            through a more robust name resolution protocol, a lessened set of
            issues with fetching content indirectly that will come with widened
            adoption of SSL, and more agressive attempts to load content by
            browsers. In the short term, we're looking at ways to make the URLs
            on your page include the logic of Activist.js. We believe that
            more robust URLs can be created in a way that is still largely
            recognizable, but can be loaded even with some forms of server
            disruption. You can follow our efforts on building resilient URLs
            <a href='https://willscott.github.io/peer-fallback/demo/firstvisit.html'>
            here</a>.
          dt What else can I do?
          dd.
            We are working to create web standards which make it easier to
            accomplish the same goals that are accomplished by Activist.js.
            You can join our <a href='https://groups.google.com/d/forum/activistjs'>
            mailing list</a> to stay up-to-date on these issues,
            and to help advocate for an Internet that is free of disruption.
      script(type='text/javascript').
        document.getElementById('faq').focus();
      footer
        p.
          Activist.js is a project of <a href="https://cs.washington.edu">
          the University of Washington</a>, with
          support from the <a href="https://www.opentechfund.org">
          Open Technology Fund</a>.
