doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(type="text/css", rel="stylesheet", href="/style.css")
    script(type="text/javascript", src="/scroll.js")
    script(type="text/javascript", src="/ux.js")
    title Activist.js
  body
    header
      h1 Activist.js
    div.main
      section#why
        h2 Censorship is not a user problem.

      section#what
        h2 Activist.js:
          small A library to improve website resilience.
        img(src='/server.png' id='server')
        hr.left
        div#firewall
        hr.right
        button#demo-button.
          Interfere
        button#act-button.
          Enable Activist!
        div#browser
          img(src='/notfound.png' id='browserinter')
      section#who
        h2 Activate your site!
        carousel
          #step1.steps
            h3 1. Where's your site?
            input#config-url(type="text",placeholder="https://www.example.com/")
          #step2.steps
            h3 2. What should it say?
            textarea#config-message.
              This site is currently unavailable because.
          #step3.steps
            h3 Install!
        footer
          p.
            Activist.js is a project of <a href="https://cs.washington.edu">
            the University of Washington</a>, with
            support from the <a href="https://www.opentechfund.org">
            Open Technology Fund</a>.
