doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(type="text/css", rel="stylesheet", href="/style.css")
    script(type="text/javascript", src="/scroll.js")
    script(type="text/javascript", src="/ux.js")
    title Activist.js
  body
    header
      h1 Activist.js
    div.main
      section#why
        h2 Censorship is not a user problem.
        small.attribution.
          By Citobun (Own work) [<a  href="http://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3A29.9.14_Hong_Kong_protest_cellphone_vigil.jpg">via Wikimedia Commons</a>
      section#what
        h2 <span class='title'>Activist.js:</span>
          small A library to improve website resilience. (<a href='/faq.html'>Read More</a>)
        img(src='/server.png' id='server')
        hr.left
        div#firewall
        hr.right
        button#demo-button.
          Interfere
        button#act-button.
          Enable Activist!
        div#browser
          img(src='/notfound.png' id='browserinter')
      section#who
        h2 Activate your site!
        fieldset#configurator
          form(method='post',action='/dl')
            #step1.steps
              h3 Site URL:
              input#config-url(type="text",name="url",placeholder="https://www.example.com/")
            #step2.steps
              h3 Message:
              input#msghidden(type="hidden",name="message")
              #config-message(contentEditable='true')
                h1 Interference Detected
                h4 This server could not be reached due to network interference from your ISP.
                ul
                  li Try using HTTPS for this connection, such as <strong>https</strong>://example.com instead of <strong>http</strong>://example.com
                  li Consider using a proxy to connect. We recommend the use of <a href='https://www.torproject.org/'>Tor</a>
            #step3.steps
              h3 Download:
              input(type="hidden",name="_csrf",value="#{csrfToken}")
              button#download Get Activist
              a#github(href='https://www.github.com/willscott/activist') View on GitHub
        small.attribution.
          By Stefano.desabbata (Own work) [<a href="http://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AGeographies_of_Tor.png">via Wikimedia Commons</a>
        footer
          p.
            Activist.js is a project of <a href="https://cs.washington.edu">
            the University of Washington</a>, with
            support from the <a href="https://www.opentechfund.org">
            Open Technology Fund</a>.
