html,body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  padding: 0;
  width: 100%;
  height: 100%;
}
.onepage-wrapper .ops-section {
  width: 100%;
  height: 100%;
  position: relative;
}
.onepage-pagination {
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  padding-right: 13px;
  width: 4px;
  height: 4px;
  display: block;
  background: rgba(255,255,255,0.7);
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(128,128,128,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid #888;
  margin-top: -4px;
  left: 8px;
}
.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}
.disabled-onepage-scroll .onepage-wrapper .ops-section {
  position: relative !important;
  top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}
.disabled-onepage-scroll .onepage-pagination {
  display: none;
}
body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}


body {
  padding-top:75px;
}

header,footer {
  background: black;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 2;
}
header,footer a {
  color: white;
}
header {
  position: fixed;
  display: block;
  top: 0;
  height: 75px;
}
footer {
  position: absolute;
  bottom: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 0.8em;
}

h1,h2,h3 {
  font-weight: normal;
}


section h2 {
  margin-top: 0;
}


section#why {
  background: url('/phones.jpg') #000 no-repeat;
  background-position: 50% 75%, center;
}

section#what {
  background: linear-gradient(
    to top right,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ), url('/back.png');
}

section h2 {
  background: rgba(0,0,0,0.7);
  padding: 50px 100px;
  color: white;
  font-size: 24pt;
  font-weight: 100;
}

section#why h2 {
  padding: 100px;
  padding-bottom: calc(50vh - 250px);
  font-size: 4vw;
}

section#what h2 small {
  font-size: 16pt;
}

#what #browser {
  height: 40vh;
  width: 55vh;
  right: 10%;
  top: 40vh;
  background: url('/browser.png') no-repeat;
  background-size: contain;
  position: absolute;
  display:inline-block;
}

#what img#firewall {
  position: absolute;
  z-index: 2;
  left: 40%;
  height: 60vh;
  opacity: 0.5;
}

#what img#server {
  position: absolute;
  z-index: 2;
  left: 5%;
  height: 40vh;
  top: 40vh;
}

#what hr {
  position: absolute;
  display: block;
  width: 30vw;
  border: none;
  border-top: 5px dotted #2f4;
  top: 65vh;
}
#what hr.left {
  left: 10%;
}
#what hr.right {
  left: 40%;
  width: 40vw;
}

#what #demo-button {
  position: absolute;
  left: 40%;
  top: 65vh;
  z-index: 3;
}

#what img#browserinter {
  display: none;
  padding-top: 10%;
  height: 80%;
}


carousel {
  position: relative;
}

carousel > div {
  display: inline-block;
  height: 200pt;
}
